body {
    text-align: center;
    overflow: hidden;
}

#board-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 25px;
    height: 25px;
    text-align: center;
    background: gray;
}

.fa {
    font-size: 50px;
    transition: 0.5s;
}

.animate {
    transform: translateY(-500px);
}

td:hover {
    background: gray !important;
    cursor: pointer;
}